@model Proyecto.Models.Productos

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Agregar Producto</h2>
    <hr />
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-4">

                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="NombreProducto" class="control-label">Nombre de Producto</label>
                        <input asp-for="NombreProducto" class="form-control" />
                        <span asp-validation-for="NombreProducto" class="text-danger"></span>
                    </div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="Existencia" class="control-label"></label>
                        <input asp-for="Existencia" class="form-control" />
                        <span asp-validation-for="Existencia" class="text-danger"></span>
                    </div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Descontinuado" /> @Html.DisplayNameFor(model => model.Descontinuado)
                        </label>
                    </div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="Image" class="control-label">Imagen</label>
                        <!--<input asp-for="Image" class="form-control" />-->
                        <input type="file" id="Image" asp-for="Image" required />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="CategoriaID" class="control-label">Categoría</label>
                        <select asp-for="CategoriaID" class="form-control" asp-items="ViewBag.CategoriaID"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Agregar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Regresar a lista principal</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
