@model Proyecto.Models.Productos

@{
    ViewData["Title"] = "Details";
}


<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4">
        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))">
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

            <div class="mb-3">
                <a href="">
                    <span class="badge purple mr-1">@Html.DisplayNameFor(model => model.Categorias)</span>
                </a>
            </div>

            <p class="lead">
                <span class="mr-1">
                    <del>$200</del>
                </span>
                <span>$100</span>
            </p>

            <p class="lead font-weight-bold">@Html.DisplayFor(model => model.NombreProducto)</p>

            <p>
                Existencia: @Html.DisplayFor(model => model.Existencia)
            </p>

            <form class="d-flex justify-content-left">
                <!-- Default input -->
                <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                <button class="btn btn-primary btn-md my-0 p" type="submit">
                    Add to cart
                    <i class="fas fa-shopping-cart ml-1"></i>
                </button>

            </form>

        </div>
        <!--Content-->

    </div>
    <!--Grid column-->
    <div>
        <a asp-action="Index">Regresar a lista principal</a>
    </div>

</div>
