@model IEnumerable<Proyecto.Models.EstatusPedido>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-lg "><i class="fas fa-plus"></i> Estatus</a>
        </p>
    </div>
    <div class="row col-md-12">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        Descripción del Estatus
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescEstatus)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EstatusID" class="text-primary" title="Editar"><i class="fas fa-fw fa-lg fa-pencil-alt"></i></a>&nbsp;&nbsp;&nbsp;
                            <a asp-action="Details" asp-route-id="@item.EstatusID" class="text-info" title="Ver Detalles"><i class="fas fa-fw fa-lg fa-eye"></i></a>&nbsp;&nbsp;&nbsp;
                            <a asp-action="Delete" asp-route-id="@item.EstatusID" class="text-danger" title="Eliminar"><i class="fas fa-fw fa-lg fa-times"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
