@model Proyecto.Models.Categorias

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <h2>Editar Categoría</h2>
    <hr />
    <div class="row col-md-12">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoriaID" />
                <div class="form-group font-weight-bold">
                    <label asp-for="NombreCategoria" class="control-label">Nombre de Categoría</label>
                    <input asp-for="NombreCategoria" class="form-control" />
                    <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar a lista principal</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
