@model Proyecto.Models.Pedidos

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <h2>Agregar Pedido</h2>
    <hr />
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="FechaPedido" class="control-label">Fecha de Pedido</label>
                        <input asp-for="FechaPedido" class="form-control" />
                        <span asp-validation-for="FechaPedido" class="text-danger"></span>
                    </div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="FechaEmbarque" class="control-label">Fecha de Embarque</label>
                        <input asp-for="FechaEmbarque" class="form-control" />
                        <span asp-validation-for="FechaEmbarque" class="text-danger"></span>
                    </div>
                    <div class="form-groupfont-weight-bold">
                        <label asp-for="ReferenciaBanco" class="control-label">Referencia de Banco</label>
                        <input asp-for="ReferenciaBanco" class="form-control" />
                        <span asp-validation-for="ReferenciaBanco" class="text-danger"></span>
                    </div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="ClienteID" class="control-label">Cliente ID</label>
                        <select asp-for="ClienteID" class="form-control" asp-items="ViewBag.ClienteID"></select>
                    </div>
                    <div class="form-group font-weight-bold">
                        <label asp-for="EstatusID" class="control-label">Estatus ID</label>
                        <select asp-for="EstatusID" class="form-control" asp-items="ViewBag.EstatusID"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Agregar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div>
            <a asp-action="Index">Regresar a lista principal</a>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
